.navbar {
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar-toggler {
    background: white;
}

.nav-title {
    font-weight: bold;
    color: white !important;
}

.navbar-list a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-list a li {
    color: white;
}

.navbar-list a li:hover {
    color: #00ccff;
}